<div class="admin-section admin-section2">
  <div class="admin-section-panel admin-section-panel4">
    {{#each data}}

  <section class="account-info-container">
        <h1>Account Detail </h1>
        <h3>{{username}}</h3>
        <div class="account-container">
            <table>
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
                <th>Email</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{phone}}</td>
                <th>Date of birth</th>
                <td>{{date_of_birth}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{address}}</td>
                <th>Status</th>
                {{{status}}}
            </tr>
            <tr>
                <th>Login attempt</th>
                <td>{{login_attempts}}</td>
            </tr>
            <tr>
                <th>Front identification</th>
                <td><img {{#if front_cmnd }} src="/images/{{front_cmnd}}"{{else}} src="/images/front.png" {{/if}} alt="Front identification"></td>
                <th>Back identification</th>
                <td><img {{#if back_cmnd }} src="/images/{{back_cmnd}}"{{else}} src="/images/front.png" {{/if}} alt="Front identification"></td>
            </tr>
            <tr>
                <th>Total value</th>
                <td>{{total_value}}</td>
            </tr>
        </table>
        {{#checkStatusIs0 statusCode}}
        <div id="handle-box">
            <button class="btn btn-primary mr-2 mb-2" id="verify">Verify</button> 
            <button class="btn btn-danger mr-2 mb-2" id="cancel">Cancel</button> 
            <button class="btn btn-info mr-2 mb-2" id="request">Request additional information</button> 
        </div>
        {{/checkStatusIs0}}
        {{#checkStatusIs4 statusCode}}
        <div id="handle-box">
            <button class="btn btn-success mr-2 mb-2" id="unclock">Unclock</button> 
        </div>
        {{/checkStatusIs4}}
        </div>

    </section>
    {{/each}}
    <section class="account-info-container">
        <h3>Transition history</h3>
        <div id="transition-container" class="index">
            <div class="recharge-box">
                <ol class="breadcrumb" style=" margin-bottom: 0;" >
                    <li class="breadcrumb-item">Receive</li>
                </ol>
                <div class="table-container">
                    <table class="table table-hover border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Phone sender</th>
                                <th>Value</th>
                                <th>Fee</th>
                                <th>Cost bearer</th>
                                <th>Status</th>
                                <th>Date</th>
                                
                            </tr>
                        </thead>
                        <tbody id="receive-body">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="deposit-box">
                <ol class="breadcrumb" style=" margin-bottom: 0;">
                    <li class="breadcrumb-item">Deposit</li>
                </ol>
                <div class="table-container">
                    <table class="table table-hover border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Send to</th>
                                <th>Value</th>
                                <th>Fee</th>
                                <th>Status</th>
                                <th>Cost bearer</th>
                                <th>Date</th>
                                
                            </tr>
                        </thead>
                        <tbody id="deposit-body">
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="withdraw-box">
                <ol class="breadcrumb" style=" margin-bottom: 0;">
                    <li class="breadcrumb-item">Withdraw</li>
                </ol>
                <div class="table-container">
                    <table class="table table-hover border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Card number</th>
                                <th>Value</th>
                                <th>Status</th>
                                <th>Date</th>
                                
                            </tr>
                        </thead>
                        <tbody id="withdraw-body">
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="phone-card-box" >
                <ol class="breadcrumb" style=" margin-bottom: 0;">
                    <li class="breadcrumb-item">Phone card</li>
                </ol>
                <div class="table-container">
                    <table class="table table-hover border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Provider</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                
                            </tr>
                        </thead>
                        <tbody id="phonecard-body">
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="recharge-box">
                <ol class="breadcrumb" style=" margin-bottom: 0;" >
                    <li class="breadcrumb-item">Recharge</li>
                </ol>
                <div class="table-container">
                    <table class="table table-hover border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Card number</th>
                                <th>Value</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="recharge-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    </div>  
</div>

<script>
    const myUrl = location.origin+"/"
    let withdrawContent
    let depositContent
    let phonecardContent
    let rechargeContent
    let data

    const queryString = window.location.search;
    const parameters = new URLSearchParams(queryString);
    const username = parameters.get('username');

    const withdrawBody = document.querySelector('#withdraw-body')
    const depositBody = document.querySelector('#deposit-body')
    const phonecardBody = document.querySelector('#phonecard-body')
    const rechargeBody = document.querySelector('#recharge-body');
    const receiveBody = document.querySelector('#receive-body');

    const handleBox = document.getElementById('handle-box')


    if(handleBox){
        // Get origin and pathname
        const myURL = location.origin+location.pathname
        const actionList = ['verify','cancel','request','unclock']
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        console.log(username)
        handleBox.addEventListener('click',async (e)=>{
            const myID = e.target.id
            if(actionList.includes(myID)){
                console.log(myID)
                if (confirm(`Are you sure want to ${myID} ${username}`)==true){
                    const myFetch = await fetch(myURL,{
                        method: "PUT",
                        body: JSON.stringify({
                            username,
                            action: myID
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    const res = await myFetch.json()
                    if(!res.code){
                        alert("Update successful!")
                        window.location.reload();
                    }
                }
            }
        })
    }


        // Get withdraw 
        (async()=>{
            const myFetch = await fetch(myUrl+"withdraw/api?username="+username)
            const res = await myFetch.json()
            if(res.code==0){
                const context = res.data.map(e=>`
                    <tr>
                        <td>${e.id}</td>
                        <td>${e.card_number}</td>
                        <td>${e.value}</td>
                        ${e.status}
                        <td>${e.date}</td>
                    </tr>
                    `
                ).join("")

                withdrawBody.insertAdjacentHTML('beforeend', context)
            }
            console.log(res)
        })();

        // Get deposit
        (async()=>{
            const myFetch = await fetch(myUrl+"deposit/api/sender?username="+username)
            const res = await myFetch.json()
            if(res.code==0){
                const context = res.data.map(e=>`
                    <tr>
                        <td>${e.id}</td>
                        <td>${e.phone_receiver}</td>
                        <td>${e.value}</td>
                        <td>${e.fee}</td>
                        ${e.status}
                        <td>${e.feeperson}</td>
                        <td>${e.date}</td>
                    </tr>
                    `
                ).join("")

                depositBody.insertAdjacentHTML('beforeend', context)
            } 
            else console.error(res.message)
            console.log(res)
        })();


        // Get receive
        (async()=>{
            const myFetch = await fetch(myUrl+"deposit/api/receiver?username="+username)
            const res = await myFetch.json()
            if(res.code==0){
                const context = res.data.map(e=>`
                    <tr>
                        <td>${e.id}</td>
                        <td>${e.phone_sender}</td>
                        <td>${e.value}</td>
                        <td>${e.fee}</td>
                        <td>${e.feeperson}</td>
                        ${e.status}
                        <td>${e.date}</td>
                    </tr>
                    `
                ).join("")
                receiveBody.insertAdjacentHTML('beforeend', context)
            }
            else console.error(res.message)
            console.log(res)
        })();


        // Get phone card
        (async()=>{
            const myFetch = await fetch(myUrl+"phonecard/api?username="+username)
            const res = await myFetch.json()
            if(res.code==0){
                const context = res.data.map(e=>`
                    <tr>
                        <td>${e.id}</td>
                        <td>${e.provider_number}</td>
                        <td>${e.price}</td>
                        <td>${e.quantity}</td>
                        <td>${e.date}</td>
                    </tr>
                    `
                ).join("")
                
                phonecardBody.insertAdjacentHTML('beforeend', context)
            }
            else console.error(res.message)
            console.log(res)
        })();

        // Get recharge
        (async()=>{
            const myFetch = await fetch(myUrl+"users/card/api?username="+username)
            const res = await myFetch.json()
            if(res.code==0) {
                const context = res.data.map(e=>`
                    <tr>
                        <td>${e.id}</td>
                        <td>${e.card_number}</td>
                        <td>${e.money}</td>
                        <td>${e.date}</td>
                    </tr>
                    `
                ).join("")
                rechargeBody.insertAdjacentHTML('beforeend', context)
            }
            else console.error(res.message)
            console.log(res)
        })();

</script>