<div class="admin-section admin-section2">
  <div class="admin-section-panel admin-section-panel4">
    {{#each data}}

  <section class="account-info-container">
        <h1>Transaction History Detail </h1>
        <h3>{{username}}</h3>
        <div class="account-container">
            <table>
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
                <th>Email</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{phone}}</td>
                <th>Date of birth</th>
                <td>{{date_of_birth}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{address}}</td>
                <th>Status</th>
                {{{status}}}
            </tr>
            <tr>
                <th>Total value</th>
                <td>{{total_value}}</td>
            </tr>
        </table>
        </div>
    </section>
    {{/each}}

    </div>  
</div>
