<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 col-md-3 profile-image-container">
      <div class="row">
        <div class="col-12 mb-5 profile-image">
          <img
            src="https://www.nj.com/resizer/zovGSasCaR41h_yUGYHXbVTQW2A=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg"
            alt="profile-image"
            width="100%"
          />
        </div>
        <div class="col-12 profile-image">
          <img
            src="https://www.nj.com/resizer/zovGSasCaR41h_yUGYHXbVTQW2A=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg"
            alt="profile-image"
            width="100%"
          />
        </div>
      </div>
      {{! <div class="profile-image mb-5">
        <img
          src="https://www.nj.com/resizer/zovGSasCaR41h_yUGYHXbVTQW2A=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg"
          alt="profile-image"
          width="100%"
        />
      </div> }}

    </div>
    <div class="col-12 col-md-9">
      <ul class="profile-list row">
        <li class="profile-item col-12 col-md-6">
          <div class="profile-icon"><i class="fa-solid fa-user"></i></div>
          <div class="profile-body">
            <span class="profile-body__title">Họ tên </span>
            <p class="profile-body__content">{{userDetail.name}}</p>
          </div>
        </li>

        <li class="profile-item col-12 col-md-6">
          <div class="profile-icon">
            <i class="fa-solid fa-calendar"></i>
          </div>
          <div class="profile-body">
            <span class="profile-body__title">Ngày sinh </span>
            <p class="profile-body__content">{{userDetail.date_of_birth}}</p>
          </div>
        </li>
        <li class="profile-item col-12 col-md-6">
          <div class="profile-icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="profile-body">
            <span class="profile-body__title">Địa chỉ </span>
            <p class="profile-body__content">{{userDetail.address}}</p>
          </div>
        </li>
        <li class="profile-item col-12 col-md-6">
          <div class="profile-icon"><i class="fa-solid fa-phone"></i></div>
          <div class="profile-body">
            <span class="profile-body__title">Số điện thoại </span>
            <p class="profile-body__content">{{userDetail.phone}}</p>
          </div>
        </li>
        <li class="profile-item col-12 col-md-6">
          <div class="profile-icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="profile-body">
            <span class="profile-body__title">Email </span>
            <p class="profile-body__content">{{userDetail.email}}</p>
          </div>
        </li>
        <li class="profile-item col-12 col-md-6">
        </li>

        <li class="profile-item col-12 col-md-6 ml-3">
          <button class="btn btn-success">Upload CMND</button>
        </li>
      </ul>
    </div>
  </div>
</div>